body{
	margin: 0;
	padding: 0;
	background-image: url(/images/smartcity.jpg);
	overflow: hidden;
}

nav{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 10px 70px;
}

ul.navbar{
	display: flex;
	margin: 0px;
	padding: 0px;
	align-items: center;
	
}

ul.navbar li{
	margin-right: 100px;
}

ul.navbar li::after{
	content: '';
	width: 0%;
	height: 2px;
	background: #f44336;
	display: block;
	margin: auto;
	transition: 0.5s;
}

ul.navbar li:hover::after{
	width: 100%;
}
#remove{
	display: none;
}

ul.navbar li a{
	background-image: linear-gradient(to right, #757F9A 0%, #D7DDE8  51%, #757F9A  100%);
	background-clip: text;
	background-size: 100%;
    	-webkit-background-clip: text;
    	-moz-background-clip: text;
    	-webkit-text-fill-color: transparent; 
    	-moz-text-fill-color: transparent;
	text-decoration: none;
	font-size: 1rem;
	font-weight: 500;
	transition: color .2s;
}

     
ul.navbar li a:hover{
	color: rgb(152, 152, 199);
}

.logo h1{
	background-image: linear-gradient(to right, #757F9A 0%, #D7DDE8  51%, #757F9A  100%);
	background-clip: text;
	background-size: 100%;
    	-webkit-background-clip: text;
    	-moz-background-clip: text;
    	-webkit-text-fill-color: transparent; 
    	-moz-text-fill-color: transparent;
}

nav button{
	background-image: linear-gradient(to left, #004FF9 0%, #FFF94C  51%, #004FF9  100%);
	margin: 10px;
	padding: 15px 45px;
	text-align: center;
	text-transform: uppercase;
	transition: 0.5s;
	background-size: 200% auto;
	color: white;            
	box-shadow: 0 0 20px #eee;
	border-radius: 10px;
	display: block;
}

nav button:hover{
	background-position: right center; /* change the direction of the change here */
	color: #fff;
	text-decoration: none;
}

.container{
	margin: auto;
	max-width: 1000px;
	margin-top: 175px;
	margin-bottom: 30px;
}

.container .hero_text {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
}

.container .hero_text h1{
	background-image: linear-gradient(to right, #ee0979 0%, #ff6a00  51%, #ee0979  100%);
	background-clip: text;
	background-size: 100%;
    	-webkit-background-clip: text;
    	-moz-background-clip: text;
    	-webkit-text-fill-color: transparent; 
    	-moz-text-fill-color: transparent;
	font-size: 3rem;
	font-weight: 700;
}

.container .hero_text p{
	background-image: linear-gradient(to right, #ee0979 0%, #ff6a00  51%, #ee0979  100%);
	background-clip: text;
	background-size: 100%;
    	-webkit-background-clip: text;
    	-moz-background-clip: text;
    	-webkit-text-fill-color: transparent; 
    	-moz-text-fill-color: transparent;
	font-size: 1.2rem;
	font-weight: lighter;
	text-align: center;
}


.container .hero_text button{
	background-image: linear-gradient(to right, #004FF9 0%, #FFF94C  51%, #004FF9  100%);
	margin: 10px;
	padding: 15px 45px;
	text-align: center;
	text-transform: uppercase;
	transition: 0.5s;
	background-size: 200% auto;
	color: white;            
	box-shadow: 0 0 20px #eee;
	border-radius: 10px;
	display: block;
}

.container .hero_text button:hover{
	background-position: right center; /* change the direction of the change here */
	color: #fff;
	text-decoration: none;
}



  
.toggle-button {
	display: block;
	flex-direction: column;
	cursor: pointer;
}
    
.bar {
	width: 25px;
	height: 3px;
	background-color: white;
	margin: 3px 0;
}

.side_bar{
	display: flex;
	align-items: center;
}

#menu{
	display: none;
	margin-left: 20px;
	font-size: 1.7rem;
	
}

#cancel{
	display: none;
	font-size: 1.7rem;
}

.hidden {
    display: none;
}


    
     
@media screen and (max-width: 1300px) {
	ul.navbar{
		display: block;
	}

	#remove{
		display: block;
		margin: 20px 20px 0px 220px;
		font-size: 2rem;
	}

	ul.navbar li{
		list-style: none;
		margin: 40px 80px 0px 30px;
	}

	ul.navbar{
		position: absolute;
		background-color: #004FF9;
		height: 100vh;
		width: 300px;
		top: 0;
		right: -300px;
		text-align: left;
		z-index: 2;
		transition: 0.5s;
	}

	#menu{
		display: inline-block;
	}

}

@media screen and (max-width: 726px) {
	.side_bar button{
		display: none;
	}
} 